{% extends 'eshop/base.html' %}

{% block title %}Main page{% endblock %}

{% block content %}
    <div class="container">
        <h1>Hi there! It is a simple eshop</h1>
        <p>You can:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{% url 'create_product' %}">Create product</a></li>
            <li class="list-group-item"><a href="{% url 'read_product' '1' %}">Read product</a></li>
            <li class="list-group-item"><a href="{% url 'ordered_products' '1' %}">Ordered_products</a></li>
        </ul>

        <p>Or log in to <a href="{% url 'admin:index' %}">admin</a> page</p>
    </div>
    
{% endblock %}